@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Gill Sans', 'Noto Sans Ethiopic', sans-serif;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}